@charset "utf-8";

.iphone{
  object-fit: contain;
  width: 110%; 
}

.align-center{
  text-align: center;
}

/* ================================= */
/* ::::::::::: 1. Global ::::::::::: */
/* ================================= */



.margin-left-3pc{
  margin-left: 3.3%;
}
  
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  padding: 0;
  vertical-align: baseline;
}

@font-face {
  font-family: 'CaeciliaBold';
  src: url('../fonts/CaeciliaLTStd-Bold.otf') format("opentype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.clear {
  clear: both;
  width: auto;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -30px; 
}

.page-wrap:after {
  content: "";
  display: block;
}


.big-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

html {
  height: 100%;
}

body {
  background: url('../images/background.png') no-repeat 0 0 fixed; 
      -webkit-background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
  color: #FFF;
  padding: 0;
  font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: none;
  outline-offset: 0px;
}

button:focus {
  outline: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: CaeciliaBold;
  font-weight: 300;
  color: #fff;
}

h1, h2 {
  width: 100%;
}

h1 {
  margin-top: 100px;
  color: #FFFFFF;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 300;
}

h2 {
  color: #FFFFFF;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 2em;
}

h4 {
  font-size: 18px;
  line-height: 26px;
}

.justify{
  text-align: justify;
}

.winner{
  color: rgba(42, 190, 172, 1.0);
  font-weight: 600;
  letter-spacing: 0.05em;
}

.introducing{
  padding-top: 2%;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 1.2em;
  font-family: CaeciliaBold;
}

#text-construction-2 {
  padding-top: 0px;
}

#text-construction-2 img {
  margin: auto;
  margin-top: 25%;
  padding-bottom: 10px;
  height: 15%;
  width: 11%;
}

.btn {
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  color: #fff;
  width: 200px;
  line-height: 140%;
  font-size: 17px;
  font-family: 'Open sans', 'Helvetica Neue', 'Lucida Grande', Arial, Verdana, sans-serif;
  font-weight: bold;
}

.btn:hover, .btn:hover {
  background: #444;
}

.tooltip {
  text-transform: none;
}

.display-none {
  display: none;
}

.border {
  background: #CCC;
  display: block;
  height: 1px;
  margin: 30px auto 25px;
  width: 50px;
}

.index999 {
  z-index: 99999 !important;
}

.index-999 {
  z-index: -999 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden;
}

#subscribe {
  overflow: hidden;
  width: 100%;
  min-height: 150px
}

#subscribe h3 {
  font-size: 17px;
  text-align: left;
  color: rgba(42, 190, 172, 1.0)
}

#subscribe .form-control {
  background: rgba(255,255,255,0.2);
  border-width: 2px;
  border-color: rgba(42, 190, 172, 1.0);
  border-style: solid none solid solid;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  height: 42px;
  outline: medium none;
  padding: 10px 15px;
  width: 80%;
  color: #F8F8F8;
  float: left;
}

 input#mail-sub:-moz-placeholder {
 color: #F8F8F8;
}

 input#mail-sub::-webkit-input-placeholder {
 color: #F8F8F8;
}

#subscribe .form-control:hover, #subscribe .form-control:focus {
  box-shadow: none;
}

#subscribe button.submit {
  color: #FFFFFF;
  border-width: 2px;
  border-color: rgba(42, 190, 172, 1.0);
  border-style: solid;
  background: rgba(42, 190, 172, 1.0);
  font-size: 16px;
  padding: 5px;
  height: 42px;
  width: 20%;
  float: left;
  border-radius: 0 5px 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#subscribe .submit .fa {
  position: relative;
  margin: 0;
  color: #FFF;
}
.bold {
  font-weight: 600;
}

#subscribe .submit.focus, #subscribe .submit:hover {
  background-color: #f1e7c0;
  color: #333;
}

.subscribe-newsletter {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  padding: 100px 0;
  background: rgba(0,0,0,0.3);
}

.controls .fa {
  color: #A5ABB5;
  font-size: 25px;
  margin: 9px 0 0 -80px;
  position: absolute;
}

.controls .fa-exclamation-circle {
  right: 25%;
  margin-top: 8px;
}

.controls .fa-check {
  right: 25%;
  margin-top: 8px;
}

.controls button.submit .fa-check {
  right: 0;
  margin-top: 0px;
}

p.message {
  font-size: 13px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

form.success-full .fa, form.success-full .message {
  color: #F1E7C0;
}

form.error .fa, form.error .message {
  color: #F1E7C0;
}

form.bad-email .fa, form.bad-email .message {
  color: #F1E7C0;
}

/* ==============================
   Footer
   ============================== */

.footer {
  margin-top: 1%;
  margin-bottom: 3%
}

.footer a{
  font-family: CaeciliaBold;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
  color: rgb(128,128,128);
  font-size: 14px;
  letter-spacing: 0.9em;
}

.footer a:hover{
    color: #00CCCC;
}

/* ==============================
   Loading
   ============================== */
.globload {
  background: black;
 /* background: -moz-radial-gradient(center, ellipse cover, #3b405b 0%, #171b33 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3b405b), color-stop(100%, #171b33));
  background: -webkit-radial-gradient(center, ellipse cover, #3b405b 0%, #171b33 100%);
  background: -o-radial-gradient(center, ellipse cover, #3b405b 0%, #171b33 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3b405b 0%, #171b33 100%);
  background: radial-gradient(ellipse at center, #3b405b 0%, #171b33 100%);*/
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.globload img {
  display: block;
  margin: auto;
}

.spinner {
  font-size: 10px;
  height: 50px;
  width: 50px;
  position: absolute;
  margin: auto;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #f1e7c0;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes 
bouncedelay {
  0%, 80%, 100% {
  -webkit-transform: scale(0.0)
  }
  40% {
  -webkit-transform: scale(1.0)
  }
}

@keyframes 
bouncedelay {
   0%, 80%, 100% {
   transform: scale(0.0);
   -webkit-transform: scale(0.0);
  }
   40% {
   transform: scale(1.0);
   -webkit-transform: scale(1.0);
  }
}

.spinner h6 {
  font-family: 'Lucida Grande', Lato, 'Helvetica Neue', Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #FFF
}



/* ================================= */
/* ::::::: 8. Media Queries :::::::: */
/* ================================= */

/* *=*=*=*=*=*=*=*=*=* Large screen *=*=*=*=*=*=*=*=*=* */

 @media only screen and (min-width : 1824px) {

  body{
    font-size: 20px;
  }

  .big-logo{
    width: 300px;
  }

  #text-construction-2 img {
    margin-top: 40%; 
  }

  #subscribe .form-control{
    height: 50px;
  }

  #subscribe button.submit {
    height: 50px;
  }

  #subscribe h3{
    font-size: 25px;
  }

  .form-control {
    font-size: 16px;
  }
 }

/* *=*=*=*=*=*=*=*=*=* Small screen *=*=*=*=*=*=*=*=*=* */
    
 @media only screen and (max-width: 1023px) {


  .logo{
    display: none;
  }

  .fb-like{
    text-align: left;
  }

  .paragraph {
    padding-top: 5%;
  }

}

@media only screen and (max-width: 959px) {
    
   .logo{
    display: none;
  }

  .fb-like{
    text-align: left;
  }

  .paragraph {
    padding-top: 5%;
  }

  .iphone{
     object-fit: contain;
     width: 100%; 
   }

   .footer {
    margin-bottom: 3%;
   }
}

@media only screen and (max-width: 568px) {

    .logo{
    display: none;
  }

  .fb-like{
    text-align: left;
  }

  .paragraph {
    padding-top: 5%;
  }

  .iphone{
     object-fit: contain;
     width: 100%; 
   }
}

/* *=*=*=*=*=*=*=*=*=* Tablet portrait *=*=*=*=*=*=*=*=*=* */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

   
   .logo{
     display: none;
   }

   .fb-like{
     text-align: left;
   }

   .paragraph {
     padding-top: 5%;
   }

   .iphone{
     object-fit: contain;
     width: 100%; 
   }
}


/* *=*=*=*=*=*=*=*=*=* Phone portrait *=*=*=*=*=*=*=*=*=* */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

  body{
    font-size: 40px
  }

  .big-logo{
    width: 100%;
  }

  .introducing{
    font-size: 1.8em;
  }

  .logo{
    display: none;
  }

  .paragraph {
    padding-top: 18.5%;
  }

  .iphone{
    object-fit: contain;
    width: 100%; 
    margin-top: 10.5%;
  }

  .footer{
    margin-top: 5%;
  }

  .footer a{
    font-size: 30px;
  }
  .controls {
    padding-top: 30px;
  }

  #subscribe .form-control {
    height: 85px;
    border-width: 6px;
  }

  #subscribe button.submit {
    height: 85px;
  }

  .form-control {
    font-size: 33px;
  }
} 
    
/* *=*=*=*=*=*=*=*=*=* Phone landscape *=*=*=*=*=*=*=*=*=* */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  
   .logo{
      display: none;
    }

    .fb-like{
      text-align: left;
    }

    .paragraph {
      padding-top: 5%;
    }

    .iphone{
      object-fit: contain;
      width: 100%; 
    }
}

/* *=*=*=*=*=*=*=*=*=* Tablet landscape *=*=*=*=*=*=*=*=*=* */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 

      .fb-like{
        text-align: left;
      }
}



